****Data Cleaning**** csv

Identifikasi data mentah

In [31]:
import pandas as pd
df = pd.read_csv("D:/rag_chatbot_covid_19/data/raw/covid_19_indonesia_time_series_all.csv")
df.head()

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,39,20,75,...,-6.204699,0.18,3.60,0.0,1.84,0.18,51.28%,192.31%,NaN,NaN
1,3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,41,20,75,...,-6.204699,0.18,3.78,0.0,1.84,0.18,48.78%,182.93%,1.0,1.0
2,3/2/2020,IDN,Indonesia,2,0,0,2,2,0,0,...,-0.789275,0.01,0.01,0.0,0.00,0.00,0.00%,0.00%,NaN,NaN
3,3/2/2020,ID-RI,Riau,1,0,0,1,1,0,1,...,0.511648,0.16,0.16,0.0,0.00,0.00,0.00%,100.00%,NaN,NaN
4,3/3/2020,ID-JK,DKI Jakarta,2,0,0,2,43,20,75,...,-6.204699,0.18,3.96,0.0,1.84,0.18,46.51%,174.42%,1.0,1.0

In [18]:
print(df.columns)

Index(['Date', 'Location ISO Code', 'Location', 'New Cases', 'New Deaths',
       'New Recovered', 'New Active Cases', 'Total Cases', 'Total Deaths',
       'Total Recovered', 'Total Active Cases', 'Location Level',
       'City or Regency', 'Province', 'Country', 'Continent', 'Island',
       'Time Zone', 'Special Status', 'Total Regencies', 'Total Cities',
       'Total Districts', 'Total Urban Villages', 'Total Rural Villages',
       'Area (km2)', 'Population', 'Population Density', 'Longitude',
       'Latitude', 'New Cases per Million', 'Total Cases per Million',
       'New Deaths per Million', 'Total Deaths per Million',
       'Total Deaths per 100rb', 'Case Fatality Rate', 'Case Recovered Rate',
       'Growth Factor of New Cases', 'Growth Factor of New Deaths'],
      dtype='object')

Memilih data kolom yang paling relavan

In [19]:
kolom_pilihan = df[['Date', 'Province', 'City or Regency', 'New Cases', 'New Deaths', 'New Recovered', 'Total Cases', 'Total Deaths', 'Total Recovered', 'Case Fatality Rate', 'Case Recovered Rate', 'Population']]
kolom_pilihan.head()

,Date,Province,City or Regency,New Cases,New Deaths,New Recovered,Total Cases,Total Deaths,Total Recovered,Case Fatality Rate,Case Recovered Rate,Population
0,3/1/2020,DKI Jakarta,NaN,2,0,0,39,20,75,51.28%,192.31%,10846145
1,3/2/2020,DKI Jakarta,NaN,2,0,0,41,20,75,48.78%,182.93%,10846145
2,3/2/2020,NaN,NaN,2,0,0,2,0,0,0.00%,0.00%,265185520
3,3/2/2020,Riau,NaN,1,0,0,1,0,1,0.00%,100.00%,6074100
4,3/3/2020,DKI Jakarta,NaN,2,0,0,43,20,75,46.51%,174.42%,10846145

In [15]:
print(kolom_pilihan.columns)
len(kolom_pilihan)
kolom_pilihan.shape[0]

Index(['Date', 'Province', 'City or Regency', 'New Cases', 'New Deaths',
       'New Recovered', 'Total Cases', 'Total Deaths', 'Total Recovered',
       'Case Fatality Rate', 'Case Recovered Rate', 'Population'],
      dtype='object')

31822

Save data yang baru dibersihkan

In [23]:
kolom_pilihan.to_csv(r"D:/rag_chatbot_covid_19/data/processed/covid_19_clean.csv", index=False)

In [24]:
kolom_pilihan.head(0)

Empty DataFrame
Columns: [Date, Province, City or Regency, New Cases, New Deaths, New Recovered, Total Cases, Total Deaths, Total Recovered, Case Fatality Rate, Case Recovered Rate, Population]
Index: []

Terjmahkan title kolom dari bahasa inggris ke bahasa indonesia

In [ ]:
terjemahan = pd.read_csv(r"D:/rag_chatbot_covid_19/data/processed/covid_19_clean.csv")

kolom_terjemahan = {
    'Date': 'Tanggal',
    'Province': 'Provinsi',
    'City or Regency': 'Kota/Kabupaten',
    'New Cases': 'Kasus Baru',
    'New Deaths': 'Kematian Baru',
    'New Recovered': 'Sembuh Baru',
    'Total Cases': 'Total Kasus',
    'Total Deaths': 'Total Kematian',
    'Total Recovered': 'Total Sembuh',
    'Case Fatality Rate': 'Rasio Kematian Kasus',
    'Case Recovered Rate': 'Rasio Kesembuhan Kasus',
    'Population': 'Jumlah Penduduk'
}

terjemahan = terjemahan.rename(columns=kolom_terjemahan)

In [29]:
terjemahan.head(0)

Empty DataFrame
Columns: [Tanggal, Provinsi, Kota/Kabupaten, Kasus Baru, Kematian Baru, Sembuh Baru, Total Kasus, Total Kematian, Total Sembuh, Rasio Kematian Kasus, Rasio Kesembuhan Kasus, Jumlah Penduduk]
Index: []

Save sebagai data berbahasa indonesia, agar cocok dipakai chatbot yang berbahasa indonesia

In [30]:
terjemahan.to_csv(r"D:/rag_chatbot_covid_19/data/processed/covid_19_indonesia.csv", index=False)

ðŸ“Š CSV â†’ ubah ke teks

In [6]:
import pandas as pd

data = pd.read_csv(r"D:/rag_chatbot_covid_19/data/processed/covid_19_indonesia.csv")
data.head(0)

Empty DataFrame
Columns: [Tanggal, Provinsi, Kota/Kabupaten, Kasus Baru, Kematian Baru, Sembuh Baru, Total Kasus, Total Kematian, Total Sembuh, Rasio Kematian Kasus, Rasio Kesembuhan Kasus, Jumlah Penduduk]
Index: []

In [9]:
import pandas as pd
import pdfplumber
import json
import os

csv_path = r"D:\rag_chatbot_covid_19\data\processed\covid_19_indonesia.csv"
df = pd.read_csv(csv_path)

# Konversi kolom rasio ke float
df["Rasio Kematian Kasus"] = pd.to_numeric(df["Rasio Kematian Kasus"], errors="coerce")
df["Rasio Kesembuhan Kasus"] = pd.to_numeric(df["Rasio Kesembuhan Kasus"], errors="coerce")

texts = []
for _, row in df.iterrows():
    text = (
        f"Pada {row['Tanggal']}, di {row['Kota/Kabupaten']}, {row['Provinsi']}, "
        f"tercatat {row['Kasus Baru']} kasus baru COVID-19, "
        f"{row['Kematian Baru']} kematian baru, dan {row['Sembuh Baru']} pasien sembuh. "
        f"Total kasus mencapai {row['Total Kasus']}, dengan {row['Total Kematian']} kematian "
        f"dan {row['Total Sembuh']} pasien sembuh. "
        f"Rasio kematian kasus adalah {row['Rasio Kematian Kasus']:.2f} persen, "
        f"dan rasio kesembuhan adalah {row['Rasio Kesembuhan Kasus']:.2f} persen. "
        f"Jumlah penduduk wilayah ini adalah {row['Jumlah Penduduk']} orang."
    )
    texts.append(text)

quant_text = "\n".join(texts)

print("âœ… Data berhasil dikonversi ke narasi!")
print("Contoh hasil:\n")
print(quant_text[:500])

âœ… Data berhasil dikonversi ke narasi!
Contoh hasil:

Pada 3/1/2020, di nan, DKI Jakarta, tercatat 2 kasus baru COVID-19, 0 kematian baru, dan 0 pasien sembuh. Total kasus mencapai 39, dengan 20 kematian dan 75 pasien sembuh. Rasio kematian kasus adalah nan persen, dan rasio kesembuhan adalah nan persen. Jumlah penduduk wilayah ini adalah 10846145 orang.
Pada 3/2/2020, di nan, DKI Jakarta, tercatat 2 kasus baru COVID-19, 0 kematian baru, dan 0 pasien sembuh. Total kasus mencapai 41, dengan 20 kematian dan 75 pasien sembuh. Rasio kematian kasus adal

In [11]:
output_path = r"D:\rag_chatbot_covid_19\data\processed\covid_to_narative.jsonl"

with open(output_path, "w", encoding="utf-8") as f:
    for i, text in enumerate(texts):
        f.write(json.dumps({"id": f"row_{i}", "text": text}) + "\n")

print(f"âœ… File JSONL berhasil disimpan di: {output_path}")

âœ… File JSONL berhasil disimpan di: D:\rag_chatbot_covid_19\data\processed\covid_to_narative.jsonl